<section
  class="portfolio min-vh-100 my-4 d-flex justify-content-center align-items-center pt-5"
>
  <div class="container">
    <div class="text-center pt-5">
      <h2 class="mb-3 fs-1 fw-bolder mt-5">PORTFOLIO COMPONENT</h2>
      <div class="d-flex align-items-center justify-content-center mb-3">
        <div class="line me-3"></div>
        <i class="fa-solid fa-star"></i>
        <div class="line ms-3"></div>
      </div>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6">
        <div class="rounded-3 overflow-hidden position-relative">
          <div>
            <a data-bs-toggle="modal" data-bs-target="#img1">
              <img src="./assets/poert1.png" class="img-fluid" />
              <div
                class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
              >
                <i class="text-white fa-solid fa-plus fa-6x"></i>
              </div>
            </a>

            <div
              id="img1"
              class="modal pt-5 bg-primary bg-opacity-25"
              role="dialog"
            >
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-body">
                  <div class="modal-content">
                    <img src="./assets/poert1.png" class="img-fluid" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="rounded-3 overflow-hidden position-relative">
          <div>
            <a data-bs-toggle="modal" data-bs-target="#img2">
              <img src="./assets/port2.png" class="img-fluid" />
              <div
                class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
              >
                <i class="text-white fa-solid fa-plus fa-6x"></i>
              </div>
            </a>

            <div id="img2" class="modal pt-5 bg-primary bg-opacity-25">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-body">
                  <div class="modal-content">
                    <img src="./assets/port2.png" class="img-fluid" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="rounded-3 overflow-hidden position-relative">
          <div>
            <a data-bs-toggle="modal" data-bs-target="#img3">
              <img src="./assets/port3.png" class="img-fluid" />
              <div
                class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
              >
                <i class="text-white fa-solid fa-plus fa-6x"></i>
              </div>
            </a>

            <div id="img3" class="modal pt-5 bg-primary bg-opacity-25">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-body">
                  <div class="modal-content">
                    <img src="./assets/port3.png" class="img-fluid" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="rounded-3 overflow-hidden position-relative">
          <div>
            <a data-bs-toggle="modal" data-bs-target="#img4">
              <img src="./assets/poert1.png" class="img-fluid" />
              <div
                class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
              >
                <i class="text-white fa-solid fa-plus fa-6x"></i>
              </div>
            </a>

            <div id="img4" class="modal pt-5 bg-primary bg-opacity-25">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-body">
                  <div class="modal-content">
                    <img src="./assets/poert1.png" class="img-fluid" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="rounded-3 overflow-hidden position-relative">
          <div>
            <a data-bs-toggle="modal" data-bs-target="#img5">
              <img src="./assets/port2.png" class="img-fluid" />
              <div
                class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
              >
                <i class="text-white fa-solid fa-plus fa-6x"></i>
              </div>
            </a>

            <div id="img5" class="modal pt-5 bg-primary bg-opacity-25">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-body">
                  <div class="modal-content">
                    <img src="./assets/port2.png" class="img-fluid" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="rounded-3 overflow-hidden position-relative">
          <div>
            <a data-bs-toggle="modal" data-bs-target="#img6">
              <img src="./assets/port3.png" class="img-fluid" />
              <div
                class="layer position-absolute start-0 w-100 top-0 h-100 d-flex justify-content-center align-items-center"
              >
                <i class="text-white fa-solid fa-plus fa-6x"></i>
              </div>
            </a>

            <div id="img6" class="modal pt-5 bg-primary bg-opacity-25">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-body">
                  <div class="modal-content">
                    <img src="./assets/port3.png" class="img-fluid" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
